/*Apply to everything*/
* {
    margin: 0px;
    padding: 0px;
    font-family: "Tahoma", "Arial", sans-serif;
}

body {
    background-color: #c29161;
}

/*Page format styling*/
header {
    height: auto;
}

main {
    margin: 28px 20%;
    box-sizing: border-box;
}

footer {
    background-color: #090401;
    width: 100%;
    height: auto;
    padding: 20px auto;
}

/*Text styling*/
.title {
    font-size: 4.5em;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    margin: auto auto 10px;
}

h2 {
    font-size: 3em;
    margin: 40px auto;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin: 10px auto;
}

p {
    font-size: 1.2em;
    margin: 15px auto;
}

/*Other element styling*/

img {
    border: 10px solid #a13427;
}

/*Specific styling*/
.display-img {
    display: block;
    margin: 0 auto;
    
}

.final-img {
    margin: 10px 0;
}

.index-list {
    list-style-type: none;
    padding: 30px;
    width: 500px;
    background-color: #d4ccb3;
}

li {
    margin-bottom: 5px;
}

.index-list > li {
    font-size: 2em;
    margin-bottom: 20px;
}

.index-list, .cook-time {
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    border: 10px solid #a13427;
}

.cook-time {
    width: 400px;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #d4ccb361;
}