* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: rgb(227, 154, 146);
}

h1 {
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}

h1, #back-button{
    background-color: rgb(246, 72, 72);
}

.index-list {
    list-style-type: none;
    text-align: center;
}

.index-list > li {
    background-color: orange;
}