* {
    margin: 0px;
}

body {
    background-color: rgb(227, 154, 146);
}

h1 {
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    background-color: rgb(246, 72, 72);
}